{% extends 'LayoutCo.html' %}
{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>modifie ton profil:</h1>
    <form action="{{ url_for('connected.modifier') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="profile_photo" class="form-label">Photo de profil</label>
            <input type="file" class="form-control" id="profile_photo" name="profile_picture">
            {% if current_user.profile_photo %}
                <div class="mt-2">
                    <p>Photo actuelle :</p>
                    <img src="{{ url_for('static', filename=current_user.profile_photo) }}" 
                         alt="Photo de profil" class="img-thumbnail" style="max-width: 150px;">
                </div>
            {% endif %}
        </div>
    
        <label for="username">Username :</label>
        <input type="text" name="username" id="username" class="input-field" value="{{ user.username }}"><br>
    
        <label for="level">Niveau :</label>
        <select class="form-select" id="level" name="level">
            <option value="débutant" {% if current_user.level == 'débutant' %}selected{% endif %}>Débutant</option>
            
            <option value="intermédiaire" 
                    {% if current_user.level == 'intermédiaire' %}selected{% endif %}
                    {% if current_user.level not in ['intermédiaire', 'avancé', 'expert'] %}disabled{% endif %}>
                Intermédiaire
            </option>
            
            <option value="avancé" 
                    {% if current_user.level == 'avancé' %}selected{% endif %}
                    {% if current_user.level not in ['avancé', 'expert'] %}disabled{% endif %}>
                Avancé
            </option>
            
            <option value="expert" 
                    {% if current_user.level == 'expert' %}selected{% endif %}
                    {% if current_user.level != 'expert' %}disabled{% endif %}>
                Expert
            </option>
        </select>
    
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" class="input-field" value="{{ user.email }}"><br>
    
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>
{% endblock %}